
.heart-card {
    position: absolute;
    font-size: 25px;
    bottom: 30px;
    right: 20px;
  }

  .heart-card:hover,
  .heart-menu:hover  {
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(200deg, $color-primary 0%, $color-secondary 100%);
    -webkit-text-fill-color: transparent;
    animation: fill 500ms ease-in forwards;
  }
