.menu-wrapper {
  background-image: url(/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display:flex;
  justify-content: center;
}

.menu-section {
  min-width: 50%;
  width: 400px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 150px;

  .menu-title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 30px;
  }

  .heart-menu {
  font-size: 20px;
  padding-right: 30px;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .menu-type {
     font-weight: 400;
     position: relative;
     margin-top: 30px;
     margin-right: auto;
     padding-left: 20px;
    }

    .menu-type::after {
      content: "";
      top: 25px;
      left: 20px;
      height: 5px;
      width: 50px;
      background-color: #99e2d0;
      position: absolute;
    }

    .menu-card {
      min-width: 350px;
      width: 80%;
      border-radius: 15px;
      box-shadow: 0 0 10px  #b8b5b5;
      background-color: #ffffff;
      display: flex;
    }

    //.menu-card:hover {


    //}

    .menu-details {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    .price {
      margin-left: auto;
      padding-right: 15px;
      padding-top: 35px;
    }
    
     // .menu-plat {

      //}

      //.menu-details {

     // }

     // .price {

    
    //}
  }
}