.menu-wrapper {
  background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display:flex;
  justify-content: center;
}

.menu-section {
  min-width: 50%;
  width: 400px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 150px;

  .menu-title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 30px;
  }

  .heart-menu {
  font-size: 20px;
  padding-right: 30px;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .menu-type {
     font-size: 16px;
     font-weight: 300;
     position: relative;
     margin-top: 30px;
     margin-bottom: 15px;
     margin-right: auto;
     padding-left: 15px;
    }

    .menu-type::after {
      content: "";
      top: 25px;
      left: 15px;
      height: 3px;
      width: 40px;
      background-color: #99e2d0;
      position: absolute;
    }

    .menu-card {
      min-width: 350px;
      width: 80%;
      border-radius: 15px;
      box-shadow: 0 0 10px  #b8b5b5;
      background-color: #ffffff;
      display: flex;
      opacity: 0;
      animation:slideup 1s;
      animation-fill-mode: both;
      overflow: hidden;
      white-space: nowrap; 
      
      @for $i from 1 through 12 {
        &:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.2}s;
        }
     }
    //.menu-card:hover {


    //}

    .menu-details {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow: hidden;

      h3 {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .price {
      margin-left: auto;
      padding-right: 15px;
      padding-top: 35px;
      font-weight: bold;
      font-size: 14px;
    }
    
    .menu-select {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99e2d0;
    cursor: pointer;
    margin-right: -60px;
    width: 60px;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    animation:slideout 300ms ease forwards;
    }

    .check {
     font-size: 13px;
     color: #99e2d0;
     background: #fff;
	   padding: 4px;
	   border-radius: 100%;
    }
    &:hover .menu-select {
      animation:slidein 300ms ease forwards;
    }
    &:hover .check {
      animation:check 400ms linear forwards;
    }
  }

    .order-btn {
      margin: 30px 0 70px 0;
    }
     // .menu-plat {

      //}

      //.menu-details {

     // }

     // .price {

      @keyframes slideup {

        from {
          opacity: 0;
          transform: translate3d(0, 50%, 0);
        }
        to {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

    @keyframes slidein {

      from {
        opacity: 1;
        transform: translate3d(100%, 0, 0);
      }
      to {
        margin-right: 0px;
        opacity: 1;
        transform: translate3d(0, 0, 100%);
      }
    }

    @keyframes slideout {
      from {
        margin-right: 0px;
        opacity: 1;
        transform: translate3d(0, 0, 100%);
      }
      to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
      }
  }

      @keyframes check {
        to {
          transform: rotate(360deg)
      }
  }
}
  }
