.new {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    background-color: #99e2d0;
    color: #1b9779;
  }