@import url(https://fonts.googleapis.com/css2?family=roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: shrikhand;
}

h2,
h3,
p {
  font-family: roboto;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #fff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  -webkit-animation: loader 2000ms 3s forwards;
          animation: loader 2000ms 3s forwards;
}

.loader i {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a25bdc));
  background-image: linear-gradient(180deg, #e771da 0%, #a25bdc 100%);
  font-size: 100px;
  -webkit-animation: spin 3s ease;
          animation: spin 3s ease;
}

@-webkit-keyframes loader {
  to {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes loader {
  to {
    z-index: -1;
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .arrow {
  position: absolute;
  top: 15px;
  left: 25px;
}

header .arrow:hover {
  cursor: pointer;
}

header .logo img {
  width: 170px;
  height: 30px;
  padding: 5px 0px;
}

.container-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-section {
  background-color: #eaeaea;
  -webkit-box-shadow: 0 10px 10px -5px inset #b8b5b5;
          box-shadow: 0 10px 10px -5px inset #b8b5b5;
}

.search-section .search-container {
  padding: 15px 0;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-section .search-container input {
  font-weight: bolder;
  margin-left: 15px;
  background-color: #eaeaea;
  font-size: 15px;
  color: #000;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.search-section .search-container input .placeholder {
  font-size: 15px;
  color: #000;
  font-weight: bolder;
}

.menu-wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrapper.palette {
  background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.menu-wrapper.delice {
  background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.menu-wrapper.note {
  background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.menu-wrapper.francaise {
  background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.menu-section {
  min-width: 50%;
  width: 400px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 150px;
}

.menu-section .menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  margin-top: 30px;
}

.menu-section .heart-menu {
  font-size: 20px;
  padding-right: 30px;
}

.menu-section .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu-section .menu-container .menu-type {
  font-size: 16px;
  font-weight: 300;
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-right: auto;
  padding-left: 15px;
}

.menu-section .menu-container .menu-type::after {
  content: "";
  top: 25px;
  left: 15px;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  position: absolute;
}

.menu-section .menu-container .menu-card {
  min-width: 350px;
  width: 80%;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px  #b8b5b5;
          box-shadow: 0 0 10px  #b8b5b5;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-animation: slideup 1s;
          animation: slideup 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  white-space: nowrap;
}

.menu-section .menu-container .menu-card:nth-child(1n) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu-section .menu-container .menu-card:nth-child(2n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.menu-section .menu-container .menu-card:nth-child(3n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.menu-section .menu-container .menu-card:nth-child(4n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.menu-section .menu-container .menu-card:nth-child(5n) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.menu-section .menu-container .menu-card:nth-child(6n) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.menu-section .menu-container .menu-card:nth-child(7n) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.menu-section .menu-container .menu-card:nth-child(8n) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.menu-section .menu-container .menu-card:nth-child(9n) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.menu-section .menu-container .menu-card:nth-child(10n) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.menu-section .menu-container .menu-card:nth-child(11n) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.menu-section .menu-container .menu-card:nth-child(12n) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.menu-section .menu-container .menu-card .menu-details {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.menu-section .menu-container .menu-card .menu-details h3 {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-section .menu-container .menu-card .menu-details p {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-section .menu-container .menu-card .price {
  margin-left: auto;
  padding-right: 15px;
  padding-top: 35px;
  font-weight: bold;
  font-size: 14px;
}

.menu-section .menu-container .menu-card .menu-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99e2d0;
  cursor: pointer;
  margin-right: -60px;
  width: 60px;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  -webkit-animation: slideout 300ms ease forwards;
          animation: slideout 300ms ease forwards;
}

.menu-section .menu-container .menu-card .check {
  font-size: 13px;
  color: #99e2d0;
  background: #fff;
  padding: 4px;
  border-radius: 100%;
}

.menu-section .menu-container .menu-card:hover .menu-select {
  -webkit-animation: slidein 300ms ease forwards;
          animation: slidein 300ms ease forwards;
}

.menu-section .menu-container .menu-card:hover .check {
  -webkit-animation: check 400ms linear forwards;
          animation: check 400ms linear forwards;
}

.menu-section .menu-container .order-btn {
  margin: 30px 0 70px 0;
}

@-webkit-keyframes slideup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideup {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slidein {
  from {
    opacity: 1;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    margin-right: 0px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 100%);
            transform: translate3d(0, 0, 100%);
  }
}

@keyframes slidein {
  from {
    opacity: 1;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  to {
    margin-right: 0px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 100%);
            transform: translate3d(0, 0, 100%);
  }
}

@-webkit-keyframes slideout {
  from {
    margin-right: 0px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 100%);
            transform: translate3d(0, 0, 100%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideout {
  from {
    margin-right: 0px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 100%);
            transform: translate3d(0, 0, 100%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes check {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.restaurant-section {
  background-color: #f6f6f6;
}

.restaurant-section .restaurant-title {
  padding: 40px 0 10px 20px;
}

.restaurant-section .restaurant-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant-section .restaurant-card-container .restaurant-card {
  position: relative;
  width: 45%;
  min-width: 330px;
  margin: 10px 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px #c1c1c1;
          box-shadow: 0px 5px 5px #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.restaurant-section .restaurant-card-container .restaurant-card .restaurant-img img {
  height: 140px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-section .restaurant-card-container .restaurant-card h3 {
  padding-left: 10px;
  margin: 5px 0 10px;
}

.restaurant-section .restaurant-card-container .restaurant-card p {
  padding-left: 10px;
  margin: 5px 0 10px;
}

button {
  background: #e771da;
  background: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a25bdc));
  background: linear-gradient(180deg, #e771da 0%, #a25bdc 100%);
  border-radius: 30px;
  border: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
}

.footer {
  background: #353535;
  padding-bottom: 20px;
}

.footer .footer-logo {
  -webkit-filter: invert(100);
          filter: invert(100);
}

.footer .footer-logo img {
  padding: 20px 0 15px 20px;
  height: 1rem;
}

.footer ul.footer-detail {
  color: #fff;
}

.footer ul.footer-detail li {
  list-style: none;
  padding-left: 20px;
  padding-bottom: 10px;
}

.footer ul.footer-detail li i {
  margin-right: 20px;
}

.description-section {
  width: 50%;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  gap: 20px;
  background-color: #f6f6f6;
}

.description-section h1 {
  font-family: roboto;
  text-align: center;
}

.description-section p {
  text-align: center;
  margin-bottom: 25px;
}

.fonction-section {
  width: 50%;
  margin-bottom: 50px;
}

.fonction-section .fonction-title {
  padding: 30px 0 30px 20px;
}

.fonction-section .fonction-container .fonction-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.fonction-section .fonction-container .fonction-step .step-card {
  max-width: 40%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 20px 0px;
  -webkit-box-shadow: 0 0 10px  #b8b5b5;
          box-shadow: 0 0 10px  #b8b5b5;
  background-color: #f6f6f6;
}

.fonction-section .fonction-container .fonction-step .step-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #9356dc;
  margin-left: -15px;
}

.fonction-section .fonction-container .fonction-step .step {
  padding-right: 75px;
}

.fonction-section .fonction-container .fonction-step .step i {
  padding-right: 25px;
  color: #7e7e7e;
}

.new {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 10px;
  margin-top: 20px;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  color: #1b9779;
}

.heart-card {
  position: absolute;
  font-size: 25px;
  bottom: 30px;
  right: 20px;
}

.heart-card:hover,
.heart-menu:hover {
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e771da), to(#a25bdc));
  background-image: linear-gradient(180deg, #e771da 0%, #a25bdc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-animation: fill 1000ms ease-in forwards;
          animation: fill 1000ms ease-in forwards;
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */