* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  width: 150px;
  height: 35px;
  padding: 10px 0px;
}

.container-global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.search-section {
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 3px 5px inset #b8b5b5;
          box-shadow: 0px 3px 5px inset #b8b5b5;
}

.search-section .search-container {
  padding: 15px 0;
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-section .search-container input {
  font-weight: bolder;
  margin-left: 15px;
  text-decoration: none;
  border: none;
  background-color: #eaeaea;
  font-size: 15px;
  color: #000;
}

.search-section .search-container input .placeholder {
  font-size: 15px;
  color: #000;
  font-weight: bolder;
}

.description-section {
  width: 50%;
  min-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  margin-bottom: 20px;
  gap: 20px;
  background-color: #f6f6f6;
}

.description-section h1 {
  text-align: center;
}

.description-section p {
  text-align: center;
}

.fonction-section {
  min-width: 33%;
  width: 50%;
  margin-bottom: 50px;
}

.fonction-section .fonction-title {
  padding: 30px 0 30px 20px;
}

.fonction-section .fonction-container .fonction-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.fonction-section .fonction-container .fonction-step .step-card {
  max-width: 40%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  padding: 25px 0px;
  -webkit-box-shadow: 0 0 10px  #b8b5b5;
          box-shadow: 0 0 10px  #b8b5b5;
  background-color: #f6f6f6;
}

.fonction-section .fonction-container .fonction-step .step-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: red;
  margin-left: -55px;
}

.restaurant-section {
  background-color: #f6f6f6;
}

.restaurant-section .restaurant-title {
  padding: 40px 0 10px 20px;
}

.restaurant-section .restaurant-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.restaurant-section .restaurant-card-container .restaurant-card {
  width: 45%;
  min-width: 330px;
  margin: 10px 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px #c1c1c1;
          box-shadow: 0px 5px 5px #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.restaurant-section .restaurant-card-container .restaurant-card .restaurant-img img {
  height: 140px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-section .restaurant-card-container .restaurant-card h3 {
  padding-left: 10px;
  margin: 5px 0 10px;
}

.restaurant-section .restaurant-card-container .restaurant-card p {
  padding-left: 10px;
  margin: 5px 0 10px;
}

.footer {
  background: #353535;
  padding-bottom: 20px;
}

.footer .footer-logo {
  -webkit-filter: invert(100);
          filter: invert(100);
}

.footer .footer-logo img {
  padding: 20px 0 15px 20px;
  height: 1rem;
}

.footer ul.footer-detail li {
  padding-left: 20px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */