@import '_menu.scss';

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
    
      img {
        width: 150px;
        height: 35px;
        padding: 10px 0px;
      }
    }
}

.container-global {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-section {
    background-color: #eaeaea;
    box-shadow: 0px 3px 5px inset #b8b5b5;
    
    .search-container {
        padding: 15px 0;
        margin-left: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        //.fas fa-map-marker-alt {

        //}

        input {
            font-weight: bolder;
            margin-left: 15px;
            text-decoration: none;
            border: none;
            background-color: #eaeaea;
            font-size: 15px;
            color: #000;

        .placeholder {
            font-size: 15px;
            color: #000;
            font-weight: bolder;
        }

        }
      }
    }

.description-section {
    width: 50%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 ;
    margin-bottom: 20px;
    gap: 20px;
    background-color: #f6f6f6;

    h1 {
        text-align: center;
    }
  
    p {
        text-align: center;
    }
  
    //button {
  
    //}
  }
  
.fonction-section {
    min-width: 33%;
    width: 50%;
    margin-bottom: 50px;

    .fonction-title {
        padding: 30px 0 30px 20px;
    }
  
    .fonction-container {

        .fonction-step {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .step-card {
        max-width: 40%;
        min-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-radius: 20px;
        padding: 25px 0px;
        box-shadow: 0 0 10px  #b8b5b5;
        background-color: #f6f6f6;
        }

        .step-number {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 25px;
            border-radius: 100%;
            background-color: red;
            margin-left: -55px;
        }

        //.step {
            
          //i {
            
          //}
  
          //p {
  
          //}
        //}
      }
    }                  
}

.restaurant-section {
    background-color: #f6f6f6;

    .restaurant-title {
        padding: 40px 0 10px 20px;
    }
  
    .restaurant-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

      .restaurant-card {
        width: 45%;
        min-width: 330px;
        margin: 10px 10px 20px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 5px 5px #c1c1c1;
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .restaurant-img {
          img {
            height: 140px;
            width: 100%;
            object-fit: cover;
          }
        }
  
        h3 {
            padding-left: 10px;
            margin: 5px 0 10px;
        }
  
        p {
            padding-left: 10px;
            margin: 5px 0 10px;
        }
      }
    }
  }

  .footer {
      background: #353535;
      padding-bottom: 20px; 

    .footer-logo {
    filter: invert(100);

    img {
        padding: 20px 0 15px 20px;
        height: 1rem;
    }

      
    }

    ul.footer-detail {

      li {
        padding-left: 20px;
        padding-bottom: 10px;
        //span {
  
        //}

      }
    }
  }