.description-section {
    width: 50%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #f6f6f6;

    .description-text {
        max-width: 300px;
    h1 {
        font-family: roboto;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 20px;
    }
  
    p {
        text-align: center;
        margin-bottom: 30px;
    }
}
    .button {
        margin-bottom: 20px; 
    }
  }

  @media all and (max-width: 749px) {
    .description-section {
        width: 100%;
    }
}