header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .arrow {
      position: absolute;
      top: 15px;
      left: 25px;
    }

    .arrow:hover {
      cursor: pointer;
    }


    .logo {
    
      img {
        width: 170px;
        height: 30px;
        padding: 5px 0px;
      }
  }
}