.menu-wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display:flex;
  justify-content: center;

  &.palette {
    background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  }
  &.delice {
    background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  }
  &.note {
    background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  }
  &.francaise {
    background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  }
}

.menu-section {
  min-width: 50%;
  width: 400px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: 150px;

  .menu-title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 30px;
  }

  .heart-menu {
  cursor: pointer;
  font-size: 20px;
  padding-right: 30px;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .menu-type {
     font-size: 16px;
     font-weight: 300;
     position: relative;
     margin-top: 30px;
     margin-bottom: 15px;
     margin-right: auto;
     padding-left: 15px;
    }

    .menu-type::after {
      content: "";
      top: 25px;
      left: 15px;
      height: 3px;
      width: 40px;
      background-color: $color-tertiary;
      position: absolute;
    }

    .menu-card {
      min-width: 350px;
      width: 80%;
      border-radius: 15px;
      box-shadow: 0 0 10px  #b8b5b5;
      background-color: #ffffff;
      cursor: pointer;
      display: flex;
      opacity: 0;
      animation:slideup 1s;
      animation-fill-mode: both;
      overflow: hidden;
      white-space: nowrap; 
      
      @for $i from 1 through 13 {
        &:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.2}s;
        }
     }
    //.menu-card:hover {


    //}

    .menu-details {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow: hidden;

      h3 {
        font-size: 16px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .price {
      margin-left: auto;
      padding-right: 15px;
      padding-top: 35px;
      font-weight: bold;
      font-size: 14px;
    }
    
    .menu-select {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-tertiary;
    margin-right: -60px;
    width: 60px;
    opacity: 0;
    border-radius: 0 15px 15px 0;
    animation:slideout 400ms linear forwards;
    }

    .check {
     font-size: 13px;
     color: $color-tertiary;
     background: #fff;
	   padding: 4px;
	   border-radius: 100%;
    }
    &:hover .menu-select {
      animation:slidein 300ms ease forwards;
    }
    &:hover .check {
      animation:check 400ms linear forwards;
    }
  }

    .order-btn {
      padding: 15px 50px;
      margin: 30px 0 70px 0;
    }
     // .menu-plat {

      //}

      //.menu-details {

     // }

     // .price {

     }
    }