.new {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    background-color: $color-tertiary;
    color: #1b9779;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
  }